---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';

import { YouTube } from 'astro-embed';
import { getPermalink } from '~/utils/permalinks';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Sauga Wellness Foundation',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Welcome to Sauga Wellness Foundation"
    actions={[
      {
        variant: 'primary',
        text: 'Get Involved',
        href: getPermalink('/involve'),
      },
    ]}
  >
    <Fragment slot="title">
      Awareness <span class="hidden md:inline">&#183;</span>
      <span class="text-accent dark:text-white highlight">Advocacy</span>
      <span class="hidden md:inline">&#183;</span> Accessibilty
    </Fragment>

    <Fragment slot="subtitle">
      Our vision is to enhance awareness and accessibilty to healthcare resources by actively engaging marginalized,
      racialized communities and newcomers.
    </Fragment>

    <Fragment slot="image">
      <YouTube id="ZmuER7WHKrY" title="Discover Sauga Wellness" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    id="about-us"
    title="About us"
    subtitle="Sauga Wellness Foundation is a not-for-profit organization dedicated to fostering resilient and healthy communities. We are a team of passionate health and wellness advocates committed to improving the lives of those we serve. Our mission is to share our expertise and experiences to enhance the health, wellness and overall quality of life for our community."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features2 Widget ************** -->

  <Features2
    id="services"
    title="Our Services"
    columns={3}
    items={[
      {
        title: 'Culturally Tailored Health Programs',
        description:
          "We develop health programs that address the specific needs, beliefs, and practices of various cultural backgrounds. We offer nutrition advice and mental health support that respects cultural values, or traditional healing methods. We'll connect you with health care resources that will help you navigate the wellness path that works best for you. Our emphasis is on self love and self care. If you take care of yourself,you will be in a much better position to take care of your loved ones.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Family-Oriented Health Programs',
        description:
          'Work as a team. Get your family involved into a better lifestyle that keep you and your loving circle happy and healthy. Instead of conflicts and arguments, strive for laughter, compassion and understanding. We offer all kinds of supports and programs that empower you to take charge of your physical, emotional and mental health. We offer maternal health education,parenting support,child nutrition workshops and intergrational wellness programs that cater to different age groups in a family',
        icon: 'flat-color-icons:conference-call',
      },
      {
        title: 'Newcomer Wellness Integration Program',
        description:
          'We offer a holistic health integration program for newcomers, addressing the physical, mental and emotional challenges of settling in a new country. We offer workshops that cover nutrition, fitness, mental wellness, and navigating the canadian healthcare system. We offer information, resources and guidance in all languages including, Dari, Pashto, Urdu, Hindi, Arabic, Punjabi & Bengali. Our programs are inclusive & welcome people from all faiths, gender, ethnicity & sexual orientation',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Community Health Ambassadors',
        description:
          'We train community members aas Health Ambassadors who act as laisions between our foundation and their respective communities. These Ambassadors can offer workshops, health screening, and information on healthcare access in multiple languages.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Financial Wellness and Health Integration Program',
        description:
          'We offer financial wellness workshops to complement physical and mental health services.Many health issues are exacerbated by financial stress, especially in marginalised communities, so providing support on budgeting, managing healthcare costs, and accessing financial aid can be powerful guidance that can help improve many lives.
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Digital Wellness and Health Literacy Program',
        description:
          'We offer digital literacy and wellness workshops to help marginalized communities, including newcomers, navigate the digital healthcare world. As healthcare becomes more digital, many marginalized groups are left behind due to lack of access or skills. Our workshops help you become digitally savvy so people can access the digital healthcare world with ease.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features3 Widget ************** -->

  <Features
    title="Let us know how we can help"
    subtitle="We're here to help and answer any question you might have."
    columns={2}
    items={[
      {
        title: 'Phone: +1-416-651-0420',
        icon: 'tabler:phone',
      },
      {
        title: 'Email: info@saugawellness.com',
        icon: 'tabler:mail',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get involved',
        href: getPermalink('/involve'),
      },
    ]}
  >
    <Fragment slot="title">Be a part of our vision</Fragment>

    <Fragment slot="subtitle">
      Become part of vibrant, purpose driven team where you will find exciting opportunities to make a real,lasting
      impact in your community. Together we can shape healthier, more resilient lives.
    </Fragment>
  </CallToAction>
</Layout>
