---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Get Involved',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText title="Be a part of our journey" subtitle="Join us and contribute to a healthier, more inclusive future!" />

  <Features3
    title="Ways to get involved"
    subtitle="We offer a variety of ways to contribute, whether you prefer hands-on involvement at events or sharing your expertise through educationcatoin workshop. Explore the different ways you can volunteer"
    columns={2}
    items={[
      {
        title: 'Community Outreach Volunteer',
        description:
          'Assist in spreading awareness about our health and wellness programs by engaging with local communities, attending events, and distributing informational materials. Let us know if you can speak another language to overcome any language barriers.',
        icon: 'tabler:stairs',
      },
      {
        title: 'Impact',
        description: `Help marginalized and underserved communities access valuable healthcare resources and wellness education.`,
        icon: 'tabler:accessible',
      },
      {
        title: 'Event Support Volunteer',
        description:
          'Join us at fundraising and community wellness events to assist with setup, registration, managing activities, and providing support to guests. ',
        icon: 'tabler:flip-vertical',
      },
      {
        title: 'Impact',
        description: `Ensure our events run smoothly, maximizing their success in raising funds and awareness for our cause.`,
        icon: 'tabler:accessible',
      },
      {
        title: 'Health and Wellness Workshop Facilitator',
        description:
          'Share your expertise in areas such as nutrition, mental health, or fitness by facilitating workshops or informational sessions for our community members.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Impact',
        description: `Empower individuals with knowledge and tools to improve their overall health and well-being`,
        icon: 'tabler:accessible',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <Content
    isReversed
    title="Stay Informed and have a voice in shaping our future"
    items={[]}
    image={{ src: '~/assets/images/inspire-1.jpg', alt: 'Inspire Image' }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"></h3>
      "The most fulfilled people are the ones who get up every morning and stand for something larger than themselves. They’re
      the people who care about others, who will extend a helping hand to someone in need or will speak up about an injustice
      when they see it".
      <div class="italic">- Wilma Mankiller</div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: '',
        description: 'Receive our e-newsletter with updates on our programs, events, and initiatives.',
        icon: 'tabler:arrow-badge-right-filled',
      },
      {
        title: '',
        description: 'Stay informed about the latest wellness resources and community health programs.',
        icon: 'tabler:arrow-badge-right-filled',
      },
      {
        title: '',
        description: 'Gain the right to nominate and be nominated for a position on our Board of Directors.',
        icon: 'tabler:arrow-badge-right-filled',
      },
      {
        title: '',
        description: 'Contribute your expertise by serving on one of our board committees.',
        icon: 'tabler:arrow-badge-right-filled',
      },
      {
        title: '',
        description: 'Participate and vote at our Annual General Meeting, where important descisions are made .',
        icon: 'tabler:arrow-badge-right-filled',
      },
    ]}
    image={{
      src: '~/assets/images/involved-2.png',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Member Benefits</h3>
    </Fragment>
  </Content>

  <CallToAction
    title="Become a Member"
    subtitle="Joining Sauga Wellness Foundation is a great wat to show your support, stay informed, and a have a voice in shaping our future."
    actions={[
      {
        variant: 'primary',
        text: 'Get started now',
        href: '/',
      },
    ]}
  />

  <Testimonials
    id="directors"
    title="Board of Directors"
    testimonials={[
      {
        testimonial: `Sahar is a seasoned professional with a degree in Commerce and Economics and over two decades of experience in business and finance. She is a passionate advocate for community health and wellness. She leads with a vision of creating accessible and equitable health and wellness opportunities for all, particularly for marginalized and racialized communities.
 As a Registered Holistic Nutritionist, she specializes in supporting individuals in addressing hormonal imbalances, anxiety, insomnia, digestive challenges, and burnout through safe and effective natural therapies. Her passion for empowering individuals and organizations through holistic care is matched by her commitment to fostering resilient, thriving communities.`,
        name: 'Sahar Salman',
        job: 'Chief Executive Officer | Registered Holistic Nutritionist',
        image: {
          src: '~/assets/images/2.png',
          alt: 'Sahar Salman Image',
        },
      },
      {
        testimonial: `Shimaa is an internationally trained pediatric oncologist with a Master of Health Administration and Management from the University of Toronto. Since 2013, she has worked extensively with nonprofit health organizations, focusing on providing care and support to immigrants and refugees. Her medical expertise and leadership in health administration have allowed her to address critical gaps in healthcare accessibility for vulnerable populations.

A passionate advocate for health equity, Shimaa is dedicated to leading impactful health awareness programs that empower communities with knowledge and resources. Her work bridges the gap between medical care and public health education, fostering healthier and more informed communities.`,
        name: 'Shimaa Nassif',
        job: 'Pediatric Oncologist | Health Administration Expert',
        image: {
          src: '~/assets/images/1.png',
          alt: 'Shimaa Nassif Image',
        },
      },
      {
        testimonial: `Dr. Saman Husain is a licensed Naturopathic Doctor (ND) based in Ontario, specializing in hormonal and digestive health. With a holistic, evidence-based approach, she empowers individuals to take control of their well-being by addressing the root causes of health concerns and fostering sustainable, healthy lifestyles.

A passionate advocate for health equity and accessibility, Dr. Husain is committed to breaking down barriers to wellness. She works tirelessly to ensure that individuals from all backgrounds have access to the knowledge and resources needed to lead healthier, more fulfilling lives. Through her dedication to preventive care and inclusivity, Dr. Husain strives to create a more equitable approach to holistic health care for all.`,
        name: 'Saman Husain',
        job: 'Licensed Naturopathic Doctor | Public Health Advocate',
        image: {
          src: '~/assets/images/image-4.jpg',
          alt: 'Saman Husain Image',
        },
      },
    ]}
  />
</Layout>
