---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Get Involved',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText title="Be a part of our journey" subtitle="Join us and contribute to a healthier, more inclusive future!" />

  <Features3
    title="Ways to get involved"
    subtitle="We offer a variety of ways to contribute, whether you prefer hands-on involvement at events or sharing your expertise through educationcatoin workshop. Explore the different ways you can volunteer"
    columns={2}
    items={[
      {
        title: 'Community Outreach Volunteer',
        description:
          'Assist in spreading awareness about our health and wellness programs by engaging with local communities, attending events, and distributing informational materials. Let us know if you can speak another language to overcome any language barriers in our out',
        icon: 'tabler:stairs',
      },
      {
        title: 'Impact',
        description: `Help marginalized and underserved communities access valuable healthcare resources and wellness education.`,
        icon: 'tabler:accessible',
      },
      {
        title: 'Event Support Volunteer',
        description:
          'Join us at fundraising and community wellness events to assist with setup, registration, managing activities, and providing support to guests. ',
        icon: 'tabler:flip-vertical',
      },
      {
        title: 'Impact',
        description: `Ensure our events run smoothly, maximizing their success in raising funds and awareness for our cause.`,
        icon: 'tabler:accessible',
      },
      {
        title: 'Health and Wellness Workshop Facilitator',
        description:
          'Share your expertise in areas such as nutrition, mental health, or fitness by facilitating workshops or informational sessions for our community members.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Impact',
        description: `Empower individuals with knowledge and tools to improve their overall health and well-being`,
        icon: 'tabler:accessible',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <Content
    isReversed
    title="Stay Informed and have a voice in shaping our future"
    items={[]}
    image={{ src: '~/assets/images/inspire-1.jpg', alt: 'Inspire Image' }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      The most fulfilled people are the ones who get up every morning and stand for something larger than themselves. They’re
      the people who care about others, who will extend a helping hand to someone in need or will speak up about an injustice
      when they see it.
      <div class="italic">- Wilma Mankiller</div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: '',
        description: 'Receive our e-newsletter with updates on our programs, events, and initiatives.',
        icon: 'tabler:arrow-badge-right-filled',
      },
      {
        title: '',
        description: 'Stay informed about the latest wellness resources and community health programs.',
        icon: 'tabler:arrow-badge-right-filled',
      },
      {
        title: '',
        description: 'Gain the right to nominate and be nominated for a position on our Board of Directors.',
        icon: 'tabler:arrow-badge-right-filled',
      },
      {
        title: '',
        description: 'Contribute your expertise by serving on one of our board committees.',
        icon: 'tabler:arrow-badge-right-filled',
      },
      {
        title: '',
        description: 'Participate and vote at our Annual General Meeting, where important descisions are made .',
        icon: 'tabler:arrow-badge-right-filled',
      },
    ]}
    image={{
      src: '~/assets/images/involved-2.png',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Member Benefits</h3>
    </Fragment>
  </Content>

  <CallToAction
    title="Become a Member"
    subtitle="Joining Sauga Wellness Foundation is a great wat to show your support, stay informed, and a have a voice in shaping our future."
    actions={[
      {
        variant: 'primary',
        text: 'Get started now',
        href: '/',
      },
    ]}
  />
</Layout>
